   <ion-header>
    <ion-toolbar mode="ios">
      <div class="title">
        <!--<img src="x">-->
        <!--<ion-title>TourCarioca</ion-title>-->
      </div>
      <ion-icon name="arrow-back-outline" size="large" [routerLink]="['/tabs']"></ion-icon>
      <ion-buttons slot="start">
        <ion-menu-button menu="main-menu"></ion-menu-button>
      </ion-buttons>
      <ion-title mode="md">Pão de Açúcar</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content>

  <ion-card>
    <img alt="Pão de Açúcar" src="../../../../assets/paodeacucar.jpg" />
  
    <ion-card-content>
      O Pão de açúcar é um dos principais pontos turísticos do Rio de Janeiro, foi aos seus pés que o Rio de Janeiro foi se desenvolvendo. A pedra que chamamos de pão de açúcar fica a oeste da entrada da Baía de Guanabara e é muito similar aos cones que eram utilizados no transporte de açúcar para a Europa da época.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Como chegar?</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Para chegar no Pão de Açúcar você deverá dirigir-se até a Urca. Como não existe estação de metrô no bairro é necessário utilizar ônibus. Mas existem integrações que podem ser utilizadas para chegar com rapidez e segurança no local. Para chegar até o Pão de Açúcar, pegue o metrô linha 1 ou 2 e desça na Estação Botafogo. Em seguida, pegue o ônibus de integração (513 – Botafogo Urca) em direção à Urca. Se você prefere utilizar os serviços de carro particular para chegar ao seu destino, não há problema. Na cidade do Rio de Janeiro, estão disponíveis táxis e muitos aplicativos de corrida como a Uber, 99 e Cabify.     
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>O que fazer?</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Parque Bondinho Pão de Açúcar inclui um anfiteatro que recebe shows e eventos corporativos e a Praça dos Bondes, com um mirante para o Morro da Babilônia e a Praia Vermelha.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Horário de funcionamento:</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      08h30 às 20h00
    </ion-card-content>
  </ion-card>

</ion-content>

