<ion-header>
  <ion-toolbar mode="ios">
    <div class="title">
      <!--<img src="x">-->
      <!--<ion-title>TourCarioca</ion-title>-->
    </div>
    <ion-icon name="arrow-back-outline" size="large" [routerLink]="['/tabs']"></ion-icon>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
    <ion-title mode="md">Maracanã</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <img alt="Maracanã" src="../../../../assets/maracana.jpg" />

    <ion-card-content>
      Fundado em 1950, o Maracanã já recebeu públicos de mais de 200 mil pessoas e foi palco de grandes partidas de futebol, shows musicais e outros eventos. O estádio mais importante do futebol brasileiro carrega parte da história do Rio de Janeiro e é também um dos principais pontos turísticos da cidade.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Como chegar?</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      A forma mais fácil de chegar no Maracanã é sem dúvidas o metrô, descendo na linha 2 estação Maracanã. Também possuem estas linhas de ônibus param perto do Maracanã: 2114, 433, 455, 457, 638, 665SVA, 665SVB.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>O que fazer?</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      A visitação no Estádio do Maracanã está aberta diariamente. Desde a reabertura em 2021, só existe uma opção de ingresso e tour disponível, que é um tour chamado de “tour monitorado”.    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Horário de funcionamento:</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      8h30 às 16h30   
    </ion-card-content>
  </ion-card>

</ion-content>
