<ion-header>
  <ion-toolbar mode="ios">
    <div class="title">
      <!--<img src="x">-->
      <!--<ion-title>TourCarioca</ion-title>-->
    </div>
    <ion-icon name="arrow-back-outline" size="large" [routerLink]="['/tabs']"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Quem Somos</ion-card-title>
    </ion-card-header>
    <ion-card-content  style="text-align: justify;">
      Somos uma empresa que após uma análise do mercado de turismo, foi constatado que cerca de 90%
      dos sites e aplicativos de turismo ou sites que sejam desta área, tem seu foco apenas na parte
      de venda de passagens aéreas e  hospedagens em hotéis. Tendo isso em mente, decidimos fazer
      um aplicativo que tenha como seu foco narrar principais locais de visitação dos estados a sua
      escolha, como praias, trilhas, locais históricos e até mesmo passeios. Com isso, decidimos
      criar um aplicativo que englobe tudo isso para facilitar a vida das pessoas ao decidir o
      destino ideal de sua viagem.
    </ion-card-content>
  </ion-card>
</ion-content>