<ion-header>
  <ion-toolbar mode="ios">
    <div class="title">
      <!--<img src="x">-->
      <!--<ion-title>TourCarioca</ion-title>-->
    </div>
    <ion-icon name="arrow-back-outline" size="large" [routerLink]="['/tabs']"></ion-icon>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
    <ion-title mode="md">Parque Madureira</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <img alt="Parque Madureira" src="../../../../assets/parquemadureira.jpg" />
  
    <ion-card-content>
      Parque Madureira Mestre Monarco é um parque de 450 mil metros quadrados, inaugurado em 23 de junho de 2012 e ampliado em 2015, situado entre os bairros de Madureira e Guadalupe, na Zona Norte da cidade do Rio de Janeiro.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Como chegar?</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Ônibus: linhas 265 ,766, 774, 800L e SV774. Metrô: a estação mais próxima é a Cidade Nova (linha 2 - verde). Trem: as estações mais próximas são Ramal Belford Roxo, Ramal Japeri e Ramal Santa Cruz
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>O que fazer?</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      O Parque de Madureira é um espaço que se estende de Madureira ate Rocha Miranda, dois bairros do Rio de Janeiro. Com pista de patins, skate, praia artificial, Nave do conhecimento, Lagos, quiosques, ciclo vias, palco para atrações e outras atrações que agrada as crianças e os adultos.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Horário de funcionamento:</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      6h às 22h
    </ion-card-content>
  </ion-card>

</ion-content>
