<ion-header>
  <ion-toolbar mode="ios">
    <div class="title">
      <!--<img src="x">-->
      <!--<ion-title>TourCarioca</ion-title>-->
    </div>
    <ion-icon name="arrow-back-outline" size="large" [routerLink]="['/tabs']"></ion-icon>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
    <ion-title mode="md">Copacabana</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <img alt="Copacabana" src="../../../../assets/praiacopacabana.jpg" />

    <ion-card-content>
      Copacabana é um bairro situado na Zona Sul do município do Rio de Janeiro, no Brasil. É considerado um dos bairros mais famosos e prestigiados do Brasil e um dos mais conhecidos do mundo. Tem o apelido de Princesinha do Mar e Coração da Zona Sul.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Como chegar?</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Se você chegar antes das 22h no terminal rodoviário, é uma opção viável, caso seja depois, desconsidere essa opção. A localização do ponto fica a uns 150m da rodoviária, localizado no Terminal Municipal Henrique Ote, a linha é TRO02/Jardim de Alah. A estação de metrô Siqueira Campos é a mais próxima a Copacabana.</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>O que fazer?</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
    O bairro de Copacabana conta com diversos atrativos como o forte de Copacabana, forte Duque de Caxias, teatros, restaurantes, bares, quiosques mas o que mais se destaca é a sua praia e o calçadão de copacabana, sendo uma das praias mais famosas dos Rio. 
    </ion-card-content>
  </ion-card>

</ion-content>
