<ion-header>
  <ion-toolbar mode="ios">
    <div class="title">
      <!--<img src="x">-->
      <!--<ion-title>TourCarioca</ion-title>-->
    </div>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
    <ion-searchbar show-clear-button="always" clear-icon="trash-bin" value="Pesquise" color="light" ></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>

      <div class="services">
        <div class="card">

          <ion-card [routerLink]="['/paoacucar']" mode="ios">
            <img alt="Pão de Açúcar" src="..//../../assets/paodeacucar.jpg" />
            <ion-card-header>
              <ion-card-subtitle>Pão de Açúcar</ion-card-subtitle>
            </ion-card-header>
        
          </ion-card>
    
        </div>
        <div class="card">

          <ion-card [routerLink]="['/copa']" mode="ios">
            <img alt="Copacabana" src="..//../../assets/praiacopacabana.jpg" />
            <ion-card-header>
              <ion-card-subtitle>Copacabana</ion-card-subtitle>
            </ion-card-header>
        
          </ion-card>
    
        </div>
      </div>
        
      <div class="services">

        <div class="card">

          <ion-card [routerLink]="['/maracana']" mode="ios">
            <img alt="Maracanã" src="../../../assets/maracana.jpg" />
            <ion-card-header>
              <ion-card-subtitle>Maracanã</ion-card-subtitle>
            </ion-card-header>
        
          </ion-card>
    
        </div>
        <div class="card">

          <ion-card [routerLink]="['/cristo']" mode="ios">
            <img alt="Cristo Redentor" src="..//../../assets/cristoredentor.jpg" />
            <ion-card-header>
              <ion-card-subtitle>Cristo Redentor</ion-card-subtitle>
            </ion-card-header>
        
          </ion-card>
    
        </div>
      </div>

      <div class="services">

        <div class="card">

          <ion-card [routerLink]="['/lavezzi']" mode="ios">
            <img alt="Lavezzi" src="../../../assets/lavezzi.jfif" />
            <ion-card-header>
              <ion-card-subtitle>Restaurante Lavezzi</ion-card-subtitle>
            </ion-card-header>
        
          </ion-card>
    
        </div>
        <div class="card">

          <ion-card [routerLink]="['/parquemadureira']" mode="ios">
            <img alt="Parque Madureira" src="..//../../assets/parquemadureira.jpg" />
            <ion-card-header>
              <ion-card-subtitle>Parque Madureira</ion-card-subtitle>
            </ion-card-header>
        
          </ion-card>
    
        </div>
      </div>

      <div class="services">

        <div class="card">

          <ion-card [routerLink]="['/rioothonpalace']" mode="ios">
            <img alt="Rio Othon Palace Hotel" src="../../../assets/rioothon.jpg" />
            <ion-card-header>
              <ion-card-subtitle>Rio Othon Palace</ion-card-subtitle>
            </ion-card-header>
        
          </ion-card>
    
        </div>
        <div class="card">

          <ion-card [routerLink]="['/arcoslapa']" mode="ios">
            <img alt="Arcos da Lapa" src="..//../../assets/arcoslapa.jpg" />
            <ion-card-header>
              <ion-card-subtitle>Arcos da Lapa</ion-card-subtitle>
            </ion-card-header>
        
          </ion-card>
    
        </div>
      </div>

</ion-content>
