<ion-header>
  <ion-toolbar mode="ios">
    <div class="title">
      <!--<img src="x">-->
      <!--<ion-title>TourCarioca</ion-title>-->
    </div>
    <ion-icon name="arrow-back-outline" size="large" [routerLink]="['/tabs']"></ion-icon>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
    <ion-title mode="md">Lavezzi</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <img alt="Lavezzi" src="../../../../assets/lavezzi.jfif" />

    <ion-card-content>
      No Lavezzi você encontra deliciosos pratos, um ambiente único, serviço de excelência e desfruta de um visual deslumbrante de frente para o mar do Recreio.    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Como chegar?</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Av. Lúcio Costa, 16756 - Recreio dos Bandeirantes, Rio de Janeiro - RJ    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Horário de funcionamento:</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      domingo	07:30–23:00<br>
      segunda-feira	12:00–23:00<br>
      terça-feira	12:00–23:00<br>
      quarta-feira	12:00–23:00<br>
      quinta-feira	12:00–23:00<br>
      sexta-feira	12:00–00:00<br>
      sábado	07:30–00:00
    </ion-card-content>
  </ion-card>

</ion-content>
