<ion-header>
  <ion-toolbar mode="ios">
    <div class="title">
      <!--<img src="x">-->
      <!--<ion-title>TourCarioca</ion-title>-->
    </div>
    <ion-icon name="arrow-back-outline" size="large" [routerLink]="['/tabs']"></ion-icon>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
    <ion-title mode="md">Arcos da Lapa</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <img alt="Arcos da Lapa" src="../../../../assets/arcoslapa.jpg" />

    <ion-card-content>
      Os Arcos da Lapa localizam-se na região da Lapa, no bairro da Lapa, na Zona Central do município do Rio de Janeiro, no Brasil.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Como chegar?</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      O método mais fácil é através das linhas do metrô, sendo a Cinelândia a 8min de caminhada e a Carioca a 10min de caminhada.
    </ion-card-content>
  </ion-card>

</ion-content>
