ion-button{
    padding: 6px 10px;
}
ion-card-title{
    font-size:large;
}
ion-toolbar{
    --background: rgb(40, 6, 136);
    --color: white;
}
ion-menu-button{
    --color: white;
}

ion-content{
    --background: rgb(219, 219, 219);
}