<ion-header>
  <ion-toolbar mode="ios">
    <div class="title">
      <!--<img src="x">-->
      <!--<ion-title>TourCarioca</ion-title>-->
    </div>
    <ion-icon name="arrow-back-outline" size="large" [routerLink]="['/tabs']"></ion-icon>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
    <ion-title mode="md">Cristo Redentor</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <img alt="Cristo Redentor" src="../../../../assets/cristoredentor.jpg" />

    <ion-card-content>
      O monumento Cristo Redentor é uma famosa estátua de Jesus Cristo localizada no Rio de Janeiro, no morro do Corcovado. É um símbolo do cristianismo no Brasil que representa paz e amor, com Jesus de braços abertos.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Como chegar?</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Você pode chegar até o Cristo Redentor de duas maneiras: com o Trem do Corcovado ou com as vans oficiais Paineiras. É preciso comprar um dos dois ingressos, cujos detalhes variam em preço, ponto de partida e outros fatores que você vai entender melhor seguindo as dicas abaixo.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>O que fazer?</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Lá no alto do morro onde se encontra o Cristo Redentor é possível ter uma vista privilegiada da lagoa, praias, Maracanã e de toda região Portuária do Rio. No local também tem uma loja de lembrancinhas e decorações para levar de recordação dessa visita.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Horário de funcionamento:</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      8h às 19h
    </ion-card-content>
  </ion-card>

</ion-content>

