<ion-content>
	<ion-slides pager="true">
		<!-- Slide 1 -->
		<ion-slide>
			<ion-text color="light">
				<img
					src="../../../assets/Logo.png">
				<h1>Seja Bem Vindo!</h1>
				<ion-button (click)="next()">Próximo</ion-button>
			</ion-text>
		</ion-slide>

		<!-- Slide 2 -->
		<ion-slide>
			<ion-text color="light">
				<img
					src="../../../assets/explore-seu-destino (1).png"
				/>
				<p>Aperte no botão abaixo para começar!</p>
				<ion-button (click)="start()" >Começar</ion-button>
			</ion-text>
		</ion-slide>
	</ion-slides>
</ion-content>

